@charset "utf-8"; //设置中文字符
.cainixihuan {
    margin-top: 10px;
    .wrapper {
        // height: 962px;
        h3 {
            margin-left: 20px;
            color: #FF9F00;
            height: 48px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            span {
                display: inline-block;
                width: 5px;
                height: 16px;
                background-color: #FF9F00;
                margin-right: 10px;
            }
        }
    }
}

.cainixihuan-wupin {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    div {
        width: 238px;
        height: 334px;
        box-sizing: border-box;
        border: 1px solid #F4F4F4;
        padding: 20px;
        position: relative;
        img {
            width: 197px;
            height: 197px;
            cursor: pointer;
        }
        p:nth-of-type(1) {
            font-size: 14px;
            cursor: pointer;
            color: #898989;
            height: 37px;
            overflow: hidden;
            margin-bottom: 30px;
        }
        p:nth-of-type(2) {
            i {
                cursor: pointer;
                color: #FF2E16;
            }
            strong {
                cursor: pointer;
                color: #FF2E16;
                font-size: 20px;
            }
            span {
                font-size: 14px;
                color: #999;
                float: right;
                line-height: 33px;
            }
        }
        section {
            background-color: #FF2E16;
            padding: 20px 40px;
            box-sizing: border-box;
            width: 237px;
            height: 82px;
            position: absolute;
            left: 0;
            bottom: 0;
            display: none;
            cursor: pointer;
            color: #fff;
            h5 {
                font-size: 18px;
                text-align: center;
                padding-bottom: 2px;
                border-bottom: 1px solid #F4F4F4;
            }
            p {
                font-size: 12px;
                color: #fff!important;
                height: 20px;
                line-height: 20px;
            }
        }
    }
    div:hover {
        border: 1px solid #FF681D;
        section {
            display: block;
        }
    }
     :nth-child(5),
     :nth-child(10) {
        border-right: 0;
    }
}