@charset "utf-8"; //设置中文字符
// 清浮动
%cleafix {
    content: '';
    clear: both;
    overflow: hidden;
    display: block;
    height: 0;
}

.end {
    .wrapper {
        background-color: #F4F4F4;
        padding-bottom: 40px;
        &::after {
            @extend %cleafix;
        }
        h3 {
            text-align: center;
            color: #CCCCD0;
            margin-top: 20px;
            margin-bottom: 40px;
            span {
                display: inline-block;
                width: 50px;
                height: 2px;
                background-color: #CCCCD0;
                vertical-align: middle;
                margin: 0 10px;
            }
        }
    }
    div {
        width: 248px;
        height: 140px;
        float: left;
        box-sizing: border-box;
        margin-left: 30px;
        h2 {
            font-size: 16px;
            margin-bottom: 10px;
            span {
                font-size: 40px;
                vertical-align: middle;
            }
        }
        p {
            height: 42px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            a {
                color: #C0C0C0;
                font-size: 12px;
                margin-left: 10px;
            }
            a:hover {
                color: #FF2E16;
            }
        }
    }
}