@charset "utf-8"; //设置中文字符
.tese {
    margin-top: 10px;
    height: 290px;
    .wrapper {
        background-color: #F4F4F4;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.tese-left {
    width: 840px;
    height: 290px;
    background-color: #fff;
    box-sizing: border-box;
    h3 {
        margin-left: 20px;
        color: #B250E1;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        span {
            display: inline-block;
            width: 5px;
            height: 16px;
            background-color: #8558D6;
            margin-right: 10px;
        }
    }
    &>div {
        div {
            float: left;
            width: 210px;
            height: 242px;
            border: 1px solid #F4F4F4;
            padding-left: 15px;
            padding-top: 15px;
            box-sizing: border-box;
            h5 {
                font-size: 20px;
                color: #000;
                height: 30px;
                line-height: 30px;
                cursor: pointer;
            }
            h5:hover {
                color: #FF6100;
            }
            p {
                font-size: 12px;
                color: #ccc;
                height: 30px;
                line-height: 30px;
            }
            img {
                width: 150px;
                height: 150px;
            }
        }
        div:nth-child(4) {
            border-right: 0;
        }
        div:hover {
            border: 1px solid #FF6100;
        }
    }
}

.tese-right {
    width: 340px;
    height: 290px;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    img {
        width: 300px;
        height: 250px;
    }
}