@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

em,
strong,
i,
b {
  font-weight: normal;
  font-style: normal;
}

/* 设置版心 */
.wrapper {
  width: 1190px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.top .wrapper::after, .top-right li:nth-child(1) dl::after,
.top-right li:nth-child(3) dl::after,
.top-right li:nth-child(7) dl::after,
.top-right li:nth-child(8) dl::after, .search-right .search::after, .xuanfu-search-right .xuanfu-search::after {
  content: '';
  clear: both;
  overflow: hidden;
  display: block;
  height: 0;
}

.top {
  background-color: #F5F5F5;
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  color: #6C6C6C;
}
.top .wrapper {
  position: relative;
}

.top-left {
  float: left;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  padding: 0 5px;
}
.top-left li {
  padding: 0 5px;
  position: relative;
}
.top-left li span {
  margin: 0 5px;
}
.top-left li:nth-child(1) dl {
  display: none;
  width: 268px;
  height: 288px;
  position: absolute;
  border: 0;
  left: 0;
  top: 36px;
  z-index: 666;
  background-color: #fff;
  overflow: auto;
}
.top-left li:nth-child(1) dl dd {
  text-indent: 1em;
  line-height: 3em;
}
.top-left li:nth-child(1) dl dd a {
  color: #000;
  display: block;
}
.top-left li:nth-child(1) dl dd:hover {
  background-color: #F5F5F5;
}
.top-left li:nth-child(1):hover {
  background-color: #fff;
}
.top-left li:nth-child(1):hover dl {
  display: block;
}
.top-left li:nth-child(2) a {
  color: #F36747;
}
.top-left li:nth-child(3) a,
.top-left li:nth-child(4) a {
  color: #6C6C6C;
}
.top-left li:nth-child(3) a:hover,
.top-left li:nth-child(4) a:hover {
  color: #F36747;
}

.top-right {
  float: right;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 5px;
}
.top-right li {
  padding: 0 5px;
  position: relative;
}
.top-right li span {
  margin: 0 5px;
}
.top-right li > a {
  color: #6C6C6C;
}
.top-right li > a:hover {
  color: #F36747;
}
.top-right li:nth-child(1) dl,
.top-right li:nth-child(3) dl,
.top-right li:nth-child(7) dl,
.top-right li:nth-child(8) dl {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 0;
  left: 0;
  top: 36px;
  z-index: 666;
  background-color: #fff;
}
.top-right li:nth-child(1) dl dd,
.top-right li:nth-child(3) dl dd,
.top-right li:nth-child(7) dl dd,
.top-right li:nth-child(8) dl dd {
  text-indent: 0.5em;
  line-height: 3em;
  background-color: #fff;
}
.top-right li:nth-child(1) dl dd a,
.top-right li:nth-child(3) dl dd a,
.top-right li:nth-child(7) dl dd a,
.top-right li:nth-child(8) dl dd a {
  color: #000;
  display: block;
}
.top-right li:nth-child(1) dl dd:hover,
.top-right li:nth-child(3) dl dd:hover,
.top-right li:nth-child(7) dl dd:hover,
.top-right li:nth-child(8) dl dd:hover {
  background-color: #F5F5F5;
}
.top-right li:nth-child(1):hover,
.top-right li:nth-child(3):hover,
.top-right li:nth-child(7):hover,
.top-right li:nth-child(8):hover {
  background-color: #fff;
}
.top-right li:nth-child(1):hover dl,
.top-right li:nth-child(3):hover dl,
.top-right li:nth-child(7):hover dl,
.top-right li:nth-child(8):hover dl {
  display: block;
}
.top-right li:nth-child(3):hover span {
  color: #F36747;
}
.top-right li:nth-child(2) span:nth-child(1) {
  color: red;
}
.top-right li:nth-last-child(1) {
  position: static;
}
.top-right li:nth-last-child(1) span:nth-child(1) {
  color: red;
}
.top-right li:nth-last-child(1):hover {
  background-color: #fff;
}
.top-right li:nth-last-child(1):hover .top-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.top-nav {
  display: none;
  width: 1190px;
  height: 311px;
  position: absolute;
  border: 1px solid #dddbdb;
  left: 0;
  top: 36px;
  z-index: 666;
  background-color: #fff;
  padding-left: 10px;
  box-sizing: border-box;
  display: none;
}
.top-nav dd {
  width: 295px;
}
.top-nav dd div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 30px;
}
.top-nav dd div a {
  color: #6C6C6C;
  float: left;
  padding: 0 5px;
  border-radius: 3px;
}
.top-nav .top-nav-first {
  border-right: 1px solid #ccc;
}
.top-nav .top-nav-first h2 {
  color: #fc4200;
  margin-left: 20px;
}
.top-nav .top-nav-first a:hover {
  background-color: #fc4200;
  color: #fff;
}
.top-nav .top-nav-second {
  height: 150px;
  border-right: 1px solid #ccc;
}
.top-nav .top-nav-second h2 {
  color: #9fb838;
  margin-left: 20px;
}
.top-nav .top-nav-second a:hover {
  background-color: #9fb838;
  color: #fff;
}
.top-nav .top-nav-third {
  border-right: 1px solid #ccc;
  height: 210px;
}
.top-nav .top-nav-third h2 {
  color: #d75696;
  margin-left: 20px;
}
.top-nav .top-nav-third a:hover {
  background-color: #d75696;
  color: #fff;
}
.top-nav .top-nav-fourth h2 {
  color: #2e9fdb;
  margin-left: 20px;
}
.top-nav .top-nav-fourth a:hover {
  background-color: #2e9fdb;
  color: #fff;
}

.top .wrapper::after, .top-right li:nth-child(1) dl::after,
.top-right li:nth-child(3) dl::after,
.top-right li:nth-child(7) dl::after,
.top-right li:nth-child(8) dl::after, .search-right .search::after, .xuanfu-search-right .xuanfu-search::after {
  content: '';
  clear: both;
  overflow: hidden;
  display: block;
  height: 0;
}

.advertising1 {
  background-color: #E71B1B;
}
.advertising1 a img {
  display: block;
  margin: auto;
}

.se-search .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 24px;
}
.se-search .search-left {
  width: 190px;
  height: 80px;
  margin-left: 20px;
  margin-top: 20px;
}
.se-search .search-left img {
  width: 142px;
  height: 58px;
}
.se-search .search-right {
  margin-left: 40px;
}

.search-right .search {
  width: 554px;
  border: 2px solid #FF5000;
  border-radius: 20px 0 0 20px/50% 0 0 50%;
  margin-top: 20px;
  position: relative;
}
.search-right .search span:nth-child(1) {
  float: left;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20px;
  color: #ccc;
}
.search-right .search input:nth-child(2) {
  float: left;
  height: 24px;
  margin: 6px 0;
  outline: 0;
  border: 0;
  margin-left: 10px;
  width: 450px;
}
.search-right .search span:nth-child(3) {
  float: right;
  font-size: 25px;
  margin-top: 5px;
  margin-right: 10px;
  color: #ccc;
}
.search-right .search a:nth-child(4) {
  width: 74px;
  height: 40px;
  background-image: linear-gradient(to right, #FF8D00, #FF5300);
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  border-radius: 0 15px 15px 0/0 50% 50% 0;
  color: #fff;
  position: absolute;
  right: -74px;
  top: -2px;
}
.search-right .search-top {
  position: absolute;
  left: 20px;
  bottom: 36px;
  font-size: 12px;
}
.search-right .search-top a {
  color: #FF5000;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}
.search-right .search-top a:nth-child(1) {
  background-image: linear-gradient(to right, #FF8D00, #FF5300);
  color: #fff;
}
.search-right .search-top a:nth-child(2):hover, .search-right .search-top a:nth-child(3):hover {
  background-color: rgba(255, 80, 0, 0.1);
}
.search-right .search-bottom {
  width: 590px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 5px;
}
.search-right .search-bottom li a {
  color: #000;
}
.search-right .search-bottom li a:hover {
  color: #FF8D00;
}

.xuanfu-search {
  position: fixed;
  top: -60px;
  left: 0;
  background-color: #fff;
  z-index: 2000;
  width: 100%;
}
.xuanfu-search .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 54px;
  align-items: center;
}
.xuanfu-search .xuanfu-search-left {
  width: 90px;
  height: 40px;
  margin-left: 20px;
  margin-right: 140px;
}
.xuanfu-search .xuanfu-search-left img {
  width: 80px;
  height: 33px;
}
.xuanfu-search .xuanfu-search-right {
  margin-left: 40px;
}

.xuanfu-search-right .xuanfu-search {
  width: 554px;
  border: 2px solid #FF5000;
  border-radius: 20px 0 0 20px/50% 0 0 50%;
  position: relative;
}
.xuanfu-search-right .xuanfu-search span:nth-child(1) {
  float: left;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20px;
  color: #ccc;
}
.xuanfu-search-right .xuanfu-search input:nth-child(2) {
  float: left;
  height: 24px;
  margin: 6px 0;
  outline: 0;
  border: 0;
  margin-left: 10px;
  width: 450px;
}
.xuanfu-search-right .xuanfu-search span:nth-child(3) {
  float: right;
  font-size: 25px;
  margin-top: 5px;
  margin-right: 10px;
  color: #ccc;
}
.xuanfu-search-right .xuanfu-search a:nth-child(4) {
  width: 74px;
  height: 40px;
  background-image: linear-gradient(to right, #FF8D00, #FF5300);
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  border-radius: 0 15px 15px 0/0 50% 50% 0;
  color: #fff;
  position: absolute;
  right: -74px;
  top: -2px;
}

.footer-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
  height: 63px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.footer-top li {
  padding: 0 5px;
  margin-left: 5px;
  font-size: 10px;
}
.footer-top li a {
  color: #6c6c6c;
  font-size: 12px;
}
.footer-top li a:hover {
  color: #FF5C00;
}

.footer-middle {
  color: #9C9C9C;
}
.footer-middle a {
  color: #6c6c6c;
  font-size: 12px;
}
.footer-middle a:hover {
  color: #FF5C00;
}
.footer-middle > ul {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 20px;
  height: 26px;
  align-items: center;
}
.footer-middle > ul li {
  padding: 0 5px;
}
.footer-middle > ul li a {
  color: #6c6c6c;
  font-size: 12px;
}
.footer-middle > span {
  font-size: 12px;
  color: #9C9C9C;
  margin-left: 10px;
}
.footer-middle > div span {
  padding: 0 5px;
}

.footer-bottom a {
  background: url(../images/dibu2.jpg);
  display: inline-block;
  margin-right: 30px;
  height: 40px;
}
.footer-bottom a:nth-child(2) {
  width: 30px;
}
.footer-bottom a:nth-child(3) {
  width: 33px;
  background-position: -38px 0;
}
.footer-bottom a:nth-child(4) {
  width: 50px;
  background-position: -84px 0;
}
.footer-bottom a:nth-child(5) {
  width: 83px;
  background-position: -140px 0;
}
.footer-bottom a:nth-child(6) {
  width: 250px;
  background: url(../images/dibu3.png);
  background-size: 250px;
  height: 64px;
}
.footer-bottom a:nth-child(7) {
  width: 250px;
  background-position: -280px 0;
}
.footer-bottom a:nth-child(8) {
  width: 250px;
  background-position: -280px 0;
}

/*# sourceMappingURL=detail.css.map */
